<!-- Feed Group Starts -->
<div class="col-sm-4 feed-group">
    <a href="#">
        <div class="feed-group-title display-4">
            {{feedgroup.title}}
        </div>
    </a>

    <!-- Feed Card Starts -->
    [{feed-card} range 0 to 1]
    <!-- Feed Card Ends-->

    <!-- Feed Line Group Starts-->
    [{feed-line} range 0 to 5]
    <!-- Feed Line Group Ends-->


    <!-- More -->
    <div class="container">
        <a href="#">
            <div class="row d-flex flex-row justify-content-center more-background">
                <span class="fas fa-angle-double-down" style="color: rgb(0, 195, 255);"></span>
            </div>
        </a>
    </div>

</div>
<!-- Feed Group Ends -->